body {
    font-family: 'Roboto', 'Times New Roman', serif;
    margin: 0;
}

.header-box {
    background-color: #1F2937;
    height: 72px;
    display: flex;
    justify-content: center;
}

.header-box .content-box {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-box {
    background-color: #1F2937;
    height: 275px;
    display: flex;
    justify-content: center;
}

.hero-box .content-box {
    width: 1000px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.hero-box .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-box .text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-box button {
    border: 2px solid #3882F6;
}

.heading-text-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-box .image-placeholder {
    background-color: rgb(100, 100, 100);
    color: #F9FAF8;
    width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-box {
    height: 400px;
    display: flex;
    justify-content: center;
}

.information-box .content-box {
    width: 1000px;
    margin-top: 32px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.information-box .illustrations {
    display: flex;
    gap: 48px;
}

.information-box .illustration-card {
    width: 165px;
    display: flex;
    flex-direction: column;
}

.information-box .heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-box .image-placeholder {
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.information-box .text {
    margin-top: 8px;
    font-size: 18px;
    color: rgb(80,80,80);
    text-align: center;
}



button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    margin-top: 10px;
}