body {
    font-family: Roboto;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .text {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.call-to-action {
    background-color: #3882F6
}

.information .heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .text {
    font-size: 18px;
    color: rgb(80,80,80);
}

.quote {
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    font-size: 24px;
    font-weight: 700;
}

.call-to-action {
    color: #F9FAF8;
}

.call-to-action .heading {
    font-size: 24px;
    font-weight: 700;
}

.call-to-action text {
    font-size: 18px;
}

.footer {
    color: #F9FAF8;
    font-size: 18px;
}

button {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
}

.information .box {
    width: 120px;
    height: 120px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.hero .box {
    display: flex;
    width: 350px;
    height: 150px;
    background-color: rgb(80,80,80);
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}